@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
  font-family: Incognito;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/incognito_bold.woff2") format("woff2");
}
@font-face {
  font-family: Incognito;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/incognito_condensed.woff2") format("woff2");
}
@font-face {
  font-family: Incognito;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/incognito_medium.woff2") format("woff2");
}
@font-face {
  font-family: Incognito;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/incognito_regular.woff2") format("woff2");
}

body {
  background-color: #ffff;
  background: url("/images/bg.png");
  background-size: 200 200;
  background-position: 0 0;
  /* background-repeat: no-repeat; */
}
* {
  box-sizing: border-box;
  font-family: Incognito, sans-serif;
}
@theme {
  --color-highlight: #4f89ef; /* Master Primary Color [CHANGE THIS IF NEEDED TO CHANGE THE PRIMARY COLOR] */
  --font-heading: "Incognito", sans-serif;
  
  
  --graph-5: var(--color-highlight);
  --graph-4: color-mix(in srgb, var(--graph-5) 80%, white);
  --graph-3: color-mix(in srgb, var(--graph-5) 60%, white);
  --graph-2: color-mix(in srgb, var(--graph-5) 40%, white);
}

::-webkit-scrollbar {
  width: 0px;
}

.line-height-dot {
  line-height: 0;
}

.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.x_truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 1.5em;
  max-height: 3.5em; /* 3 lines * line-height */
}

.font-semibold,
.font-bold {
  color: var(--color-highlight);
}
